[submodule "third-party/pugixml"]
	path = third-party/pugixml
	url = https://github.com/zeux/pugixml.git
	branch = master

[submodule "third-party/cxxtest"]
	path = third-party/cxxtest
	url = https://github.com/CxxTest/cxxtest
	branch = master
[submodule "third-party/utfcpp"]
	path = third-party/utfcpp
	url = https://github.com/nemtrif/utfcpp
[submodule "third-party/Optional"]
	path = third-party/Optional
	url = https://github.com/akrzemi1/Optional
