[submodule "third-party/libstudxml"]
	path = third-party/libstudxml
	url = http://scm.codesynthesis.com/libstudxml/libstudxml.git
	branch = master

[submodule "third-party/cxxtest"]
	path = third-party/cxxtest
	url = https://github.com/CxxTest/cxxtest
	branch = master

[submodule "third-party/utfcpp"]
	path = third-party/utfcpp
	url = https://github.com/nemtrif/utfcpp
	branch = master

[submodule "third-party/pugixml"]
	path = third-party/pugixml
	url = https://github.com/zeux/pugixml
	branch = master

[submodule "third-party/pole"]
	path = third-party/pole
	url = https://github.com/catlan/pole
	branch = master

[submodule "third-party/nss"]
	path = third-party/nss
	url = https://github.com/tfussell/nss
	branch = master
